<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Free Trial</h4>
        </div>
        <div class="card-body">
          <h5 class="card-price">$0</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">100 SKUs for 1 Shop</li>
          </ul>
          <a href="#" class="btn btn-primary">Current Plan</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Most Popular<br>Premium Plan</h4>
        </div>
        <div class="card-body">
          <h5 class="card-price">$99</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">250 SKUs for 2 Shops</li>
          </ul>
          <a routerLink="/payment" class="btn btn-success">Upgrade to Premium</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Add Ons</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Per 100 SKUs: $39</li>
            <li class="list-group-item">Per additional Shop: $59</li>
          </ul>
          <a routerLink="/payment" class="btn btn-info">Purchase Add Ons</a>
        </div>
      </div>
    </div>
  </div>
</div>
